DATABASE_URL=<key>
DATABASE_URL_UNPOOLED=<key>
NEXT_PUBLIC_APIKEY=<key>
NEXT_PUBLIC_AUTHDOMAIN=<key>
NEXT_PUBLIC_PROJECTID=<key>
NEXT_PUBLIC_STORAGEBUCKET=<key>
NEXT_PUBLIC_MESSAGINGSENDERID=<key>
NEXT_PUBLIC_APPID=<key>
NEXT_PUBLIC_MEASUREMENTID=<key>
NEXT_PUBLIC_MAP_API_KEY=<key>
NEXT_PUBLIC_SUPABASE_URL=<key>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<key>
FIREBASE_SERVICE_ACCOUNT_BASE64=<key>
FIREBASE_API_KEY=<key>
FIREBASE_STORAGE_BUCKET=<key>